* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #f2f2f2;
}

html {
  scroll-behavior: smooth;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

body {
  font-family: "Oswald", sans-serif;
}

#root {
  height: auto;
  width: 100%;
}

.toup {
  z-index: 100;
  height: 50px;
  width: 50px;
  bottom: 5vh;
  right: 4vw;
  position: fixed;
  z-index: 10;
  background-color: #282c34;
  color: #f1f1f1;
  display: -ms-grid;
  display: grid;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: none;
  color: #f1f1f1;
  font-size: xx-large;
}

.toup img {
  height: 30px;
  color: whitesmoke;
}

.scrollindicator {
  height: 8px;
  width: 100%;
  background: #f1f1f1;
  display: none;
  top: 8vh;
  position: fixed;
  z-index: 10;
}

.scrollindicator .scroll-bar {
  height: 100%;
  width: 10%;
  background-color: crimson;
}

.main-header {
  height: auto;
  width: 100%;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  position: fixed;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main-header header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 8vh;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 10%;
  color: #f1f1f1;
}

.main-header header .logo {
  font-size: x-large;
}

.main-header header .logo a {
  color: #f1f1f1;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
}

.main-header header .logo a .A {
  color: crimson;
  font-size: x-large;
  font-weight: bold;
}

.main-header header .burger {
  font-size: large;
  display: none;
  cursor: pointer;
}

.main-header nav {
  margin: 0 10%;
  width: 36%;
}

.main-header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  list-style-type: none;
  width: 100%;
}

.main-header nav ul a {
  text-decoration: none;
  text-transform: uppercase;
  color: #f1f1f1;
  padding: 6px 10px;
  border: 2px solid transparent;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.main-header nav ul #contactlink {
  border: 2px solid #f1f1f1;
}

.main-header nav ul #contactlink:hover {
  border: 2px solid crimson;
  border-bottom: 2px solid crimson;
}

.main-header nav ul a:hover {
  border-bottom: 2px solid crimson;
}

.head-section {
  height: 100vh;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.6)), to(rgba(0, 0, 0, 0.6))), url("../image/thopda.jpg") center fixed no-repeat;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../image/thopda.jpg") center fixed no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.head-section .home-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #f1f1f1;
  padding: 2rem;
  background: rgba(255, 255, 255, 0.25);
  -webkit-box-shadow: 0 8px 32px 0 rgba(93, 94, 107, 0.37);
          box-shadow: 0 8px 32px 0 rgba(93, 94, 107, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
}

.head-section .home-content h1 {
  font-weight: bolder;
  letter-spacing: 3px;
  margin-bottom: 8px;
}

.head-section .home-content h2 span {
  color: crimson;
}

.section1 {
  height: 20vh;
  width: 100%;
  position: absolute;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 3rem;
}

.section1 .container {
  position: relative;
  width: 24px;
  height: 24px;
}

.section1 .chevron {
  position: absolute;
  width: 28px;
  height: 8px;
  opacity: 0;
  -webkit-transform: scale3d(0.5, 0.5, 0.5);
          transform: scale3d(0.5, 0.5, 0.5);
  -webkit-animation: move 3s ease-out infinite;
          animation: move 3s ease-out infinite;
}

.section1 .chevron:first-child {
  -webkit-animation: move 3s ease-out 1s infinite;
          animation: move 3s ease-out 1s infinite;
}

.section1 .chevron:nth-child(2) {
  -webkit-animation: move 3s ease-out 2s infinite;
          animation: move 3s ease-out 2s infinite;
}

.section1 .chevron:before,
.section1 .chevron:after {
  content: " ";
  position: absolute;
  top: 0;
  height: 100%;
  width: 51%;
  background: #fff;
}

.section1 .chevron:before {
  left: 0;
  -webkit-transform: skew(0deg, 30deg);
          transform: skew(0deg, 30deg);
}

.section1 .chevron:after {
  right: 0;
  width: 50%;
  -webkit-transform: skew(0deg, -30deg);
          transform: skew(0deg, -30deg);
}

@-webkit-keyframes move {
  25% {
    opacity: 1;
  }
  33% {
    opacity: 1;
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
  }
  67% {
    opacity: 1;
    -webkit-transform: translateY(40px);
            transform: translateY(40px);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(55px) scale3d(0.5, 0.5, 0.5);
            transform: translateY(55px) scale3d(0.5, 0.5, 0.5);
  }
}

@keyframes move {
  25% {
    opacity: 1;
  }
  33% {
    opacity: 1;
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
  }
  67% {
    opacity: 1;
    -webkit-transform: translateY(40px);
            transform: translateY(40px);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(55px) scale3d(0.5, 0.5, 0.5);
            transform: translateY(55px) scale3d(0.5, 0.5, 0.5);
  }
}

.section1 .text {
  display: block;
  margin-top: 75px;
  margin-left: -30px;
  font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif;
  font-size: 12px;
  color: #fff;
  text-transform: uppercase;
  white-space: nowrap;
  opacity: 0.25;
  -webkit-animation: pulse 2s linear alternate infinite;
          animation: pulse 2s linear alternate infinite;
}

@-webkit-keyframes pulse {
  to {
    opacity: 1;
  }
}

@keyframes pulse {
  to {
    opacity: 1;
  }
}

.about {
  padding: 12vh 3rem 5vh 3rem;
  height: auto;
  background-color: #f2f2f2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.about .about-div {
  width: 80%;
  height: auto;
  padding: 1rem 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.about .about-div .img-area {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.about .about-div .img-area img {
  height: 90%;
  width: 50%;
  border-radius: 8px;
}

.about .about-div .text-area {
  width: 100%;
}

.about .about-div .text-area h3 {
  font-weight: lighter;
}

.about .about-div .text-area h1 {
  color: #282c34;
}

.about .about-div .text-area h2 {
  color: #282c34;
}

.skills {
  padding-top: 8.5vh;
  height: auto;
}

.projects {
  padding: 12vh 15% 8vh 15%;
  height: auto;
  width: 100%;
}

.projects h4 {
  text-align: center;
  font-size: x-large;
  margin-bottom: 2rem;
  color: #282c34;
}

.projects .projects-box {
  padding: 1rem;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.projects .projects-box .box {
  height: 350px;
  width: 400px;
  margin-bottom: 3rem;
  color: #f2f2f2;
  background: #282c34;
  -webkit-box-shadow: 0 8px 30px 0 rgba(78, 78, 90, 0.37);
          box-shadow: 0 8px 30px 0 rgba(78, 78, 90, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
}

.projects .projects-box .box img {
  padding: 1rem;
  height: 80%;
  width: 100%;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-filter: brightness(90%);
          filter: brightness(90%);
}

.projects .projects-box .box img:hover {
  padding: 0;
  border-radius: 8px 8px 0 0;
}

.projects .projects-box .box .txts {
  padding: 0 1rem;
  font-weight: lighter;
}

.contact {
  height: auto;
  padding-top: 7vh;
}

.contact .contactbox {
  height: 100%;
  background-color: #f1f1f1;
  padding-top: 20px;
  padding-bottom: 100px;
}

.contact .contactbox .contactflex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10px;
}

.contact .contactbox .contactflex h3 {
  font-size: xx-large;
  text-transform: uppercase;
  margin-bottom: 20px;
  padding: 8px 12px;
  border: 2px solid black;
}

.contact .contactbox .contactflex .form-group {
  padding: 2rem 1rem;
  background-color: #232323;
  width: 80%;
  height: auto;
  border-radius: 8px;
  -webkit-box-shadow: 5px 5px 10px #555;
          box-shadow: 5px 5px 10px #555;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.contact .contactbox .contactflex .form-group .imgcontact {
  width: 30%;
}

.contact .contactbox .contactflex .form-group .imgcontact img {
  width: 80%;
  height: 80%;
}

.contact .contactbox .contactflex .form-group form {
  height: 100%;
  width: 60%;
  padding: 1rem;
}

.contact .contactbox .contactflex .form-group form .inputgroup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  color: #f1f1f1;
  margin-bottom: 8px;
}

.contact .contactbox .contactflex .form-group form .inputgroup input {
  padding: 10px 10px 5px 10px;
  background-color: transparent;
  outline: none;
  border: none;
  border-bottom: 2px solid #e5e5e5;
  color: #f1f1f1;
  font-size: large;
}

.contact .contactbox .contactflex .form-group form .inputgroup textarea {
  height: 200px;
  resize: none;
  padding: 8px 8px;
  outline: none;
  border: none;
  background-color: #e5e5e5;
  border-radius: 6px;
  font-size: large;
  margin-bottom: 5px;
}

.contact .contactbox .contactflex .form-group form .inputgroup button {
  border-radius: 6px;
  margin: 1rem 0 0 0;
  padding: 10px;
  width: 200px;
  outline: none;
  border: none;
  cursor: pointer;
  position: absolute;
  right: 15%;
  background-color: crimson;
  color: #f1f1f1;
}

.contact .contactbox .contactflex .form-group form .inputgroup button:hover {
  background-color: #f2f2f2;
  color: black;
}

footer {
  height: 16vh;
  bottom: 0;
  background: #797d86;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 1rem 0;
}

footer nav ul {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

footer nav ul li {
  margin: 0 1rem 1rem 0;
  padding: 0.3rem;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

footer nav ul li:hover {
  background-color: crimson;
  border-radius: 6px;
}

footer nav ul img {
  height: 30px;
}

footer .footer-credit {
  height: 3vh;
  width: 100%;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .main-header {
    height: auto;
    width: 100%;
  }
  .main-header header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 8vh;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 10%;
    color: #f1f1f1;
  }
  .main-header header .burger {
    display: block;
  }
  .main-header nav {
    margin: 0;
    display: none;
    position: fixed;
    top: 9vh;
    background-color: #282c34;
    height: 92vh;
    width: 100%;
    left: 0;
    right: 0;
    padding: 0 0 1rem 0;
  }
  .main-header nav ul {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .head-section {
    padding: 0 2rem;
  }
  .head-section .home-content {
    border: none;
  }
  .projects {
    padding: 12vh 1rem 5vh 1rem;
  }
  .projects .projects-box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .projects .projects-box .box {
    height: 350px;
    width: 90%;
    margin-bottom: 3rem;
  }
  .contact .contactbox {
    padding-top: 20px;
  }
  .contact .contactbox .contactflex .form-group {
    width: 98%;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .contact .contactbox .contactflex .form-group .imgcontact {
    display: none;
  }
  .contact .contactbox .contactflex .form-group form {
    width: 100%;
  }
  .contact .contactbox .contactflex .form-group form .inputgroup button {
    width: 150px;
  }
  .about {
    padding: 15vh 1rem 5vh 1rem;
  }
  .about .about-div {
    height: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    width: 90%;
    padding: 0;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .about .about-div .img-area {
    margin-bottom: 2rem;
  }
}

.open {
  display: none;
}
/*# sourceMappingURL=style.css.map */